@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #printable-pdf-document, #printable-pdf-document * {
    visibility: visible;
  }
  #printable-pdf-document {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 15mm;
    background: white !important;
    color: black !important;
  }
}
